# Archivos y carpetas de Eclipse
.classpath
.project
.settings/

# Archivos de compilación de Maven
target/

# Archivos de sistema / temporales
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Archivos generados
admin_pswd.txt

